<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Lazyfood</a>
        <a class="btn btn-primary" href="/" id="sign-out">Sign Out</a>
    </div>
</nav>
<form ref='uploadForm' id='uploadForm' action='http://localhost:3300/' method='post' encType="multipart/form-data">
    <input type="file" name="uploadedIngredient" />
    <input type='submit' value='Upload!' />
</form>