<div class="container">
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">Ingredient</label>
                <input type="text" class="form-control" id="ing" placeholder="Tomato">
            </div>
            <button type="submit" class="btn btn-default" id="add-ing">Add ingredient</button>
        </form>
    </div>
</div>
<div class="container">
    <div class="row" id="ing-row">
    </div>
</div>
<div class="container">
    <div class="row">
        <button type="submit" class="btn btn-default" id="get-results">Get Recepies</button>
    </div>
</div>