<div class="container">
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">Ingredient</label>
                <input type="text" class="form-control" id="ing" placeholder="Tomato">
            </div>
            <button type="submit" class="btn btn-default" id="add-ing">Add ingredient</button>
        </form>
        <form ref='uploadForm' id='uploadForm' action='http://localhost:3300/' method='post' encType="multipart/form-data">
            <input type="file" name="uploadedIngredient" />
            <input type='submit' value='Upload!' />
        </form>
    </div>
</div>
<div class="container">
    <div class="row" id="ing-row">
        {{#each imageArr}}<button class="ingredients">{{this}}</button> {{/each}}
    </div>
    <div class="row" id="rec-row">
    </div>
</div>
<div class="container">
    <div class="row">
        <button type="submit" class="btn btn-default" id="get-results">Get Recipes</button>
    </div>
</div>
<button id="sign-out">sign out</button>