<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Janedoe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Password</label>
    <input type="password" class="form-control" id="password" placeholder="****">
  </div>
  <button type="submit" id="login" class="btn btn-default">Send invitation</button>
</form>